/**
 * @file app_secrets.h.example
 * @brief Template for Application Secrets, ThingsBoard Auto-Provisioning & Config
 */

#ifndef APP_SECRETS_H
#define APP_SECRETS_H

#ifdef __cplusplus
extern "C" {
#endif

#define CONFIG_FALLBACK_WIFI_SSID           "YourWiFiSSID"
#define CONFIG_FALLBACK_WIFI_PASS           "YourWiFiPassword"

#define CONFIG_THINGSBOARD_HOST             "humid1.com"
#define CONFIG_THINGSBOARD_PORT             8883
#define CONFIG_THINGSBOARD_URI              "mqtts://humid1.com:8883"

#define CONFIG_THINGSBOARD_PROVISION_KEY    "joz5hqceqbkzzft3qzaf"
#define CONFIG_THINGSBOARD_PROVISION_SECRET "d9xpuylns0pdlk2w70hc"

#define CONFIG_THINGSBOARD_ACCESS_TOKEN     ""
#define CONFIG_THINGSBOARD_CA_CERT          NULL

#define CONFIG_CLAIM_KEY_LENGTH             8
#define CONFIG_CLAIM_DURATION_MS            180000

#define CONFIG_BLE_PROV_PREFIX              "PROV_"

#ifdef __cplusplus
}
#endif

#endif /* APP_SECRETS_H */
