# Target ESP32-S3 PICO-1-N8R8 Configuration (8MB Flash QSPI, 8MB PSRAM Octal)
CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

# BSP
CONFIG_BSP_SHTC3_LOW_POWER=y
CONFIG_BSP_ENABLE_TOUCH=n

# Codec
CONFIG_CODEC_ES8311_SUPPORT=y

# LVGL
CONFIG_LV_COLOR_FORMAT_I1=y
CONFIG_LV_COLOR_DEPTH_1=y
CONFIG_LV_COLOR_DEPTH=1
CONFIG_LV_DRAW_SW_SUPPORT_I1=y
CONFIG_LV_USE_THEME_MONO=y

# Flash settings (8MB)
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

# PSRAM settings (8MB Octal SPI)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_USE_MALLOC=y

# Custom Partition Table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# FreeRTOS Clock Rate
CONFIG_FREERTOS_HZ=1000
